/* Tags */
label {
  margin-right: 20px;
}
p {
  text-align: center;
  width: 33.33%;
}

/* Classes */
.header {
  background-color: black;
  color: white;
  display: flex;
  height: 40px;
}
.inputBar {
  background-color: gray;
}
.student {
  display: flex;
  justify-content: space-evenly;
}
.students {
  border: 1px solid gray;
  margin: auto;
  width: 80%;
}
.students div:nth-child(even) {
  background-color: lightgray;
}


